*
  margin: 0
  padding: 0
  border: none
  box-sizing: border-box
  font-family: Montserrat

html
  display: flex
  justify-content: center

body
  width: clamp(320px, 100%, 1440px)
  display: flex
  justify-content: center

#root
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

header
  display: flex
  justify-content: space-between
  width: 100%
  padding: 0 clamp(20px, 5vw, 100px)
  margin-top: clamp(20px, 5vw, 45px)
  margin-bottom: clamp(27px, 5vw, 50px)
  @media (min-width: 768px)
    padding: 0 clamp(20px, 7vw, 100px)

  svg
    width: clamp(145px, 38vw, 210px)

  nav
    display: flex
    align-items: center
    a
      margin-left: clamp(26px, 5vw, 57px)
      font-size: clamp(12px, 4vw, 24px)
      font-weight: 500
      color: black
      text-decoration: none
    a.active
      text-decoration: underline

main
  width: 100%
  padding: 0 clamp(20px, 5vw, 100px)

  .banner
    width: 100%
    height: clamp(111px, 20vw, 223px)
    background-size: cover
    background-position: center
    border-radius: 25px
    display: flex
    align-items: center
    position: relative
    margin-bottom: clamp(22px, 5vw, 43px)
    @media (min-width: 768px)
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

    .dark
      opacity: 0.6

  .dark
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #000000
    border-radius: 25px
    z-index: 5

  .bannerPContainer
    width: 100%
    z-index: 10
    margin: 16px
    display: flex
    flex-direction: column
    @media (min-width: 768px)
      flex-direction: row
      justify-content: center

    p
      margin: 0 5px
      font-weight: 700
      font-size: clamp(24px, 5vw, 48px)
      line-height: clamp(24px, 5vw, 68.45px)
      color: white

  .gallery
    width: 100%
    margin-bottom: clamp(27px, 5vw, 50px)
    background-color: #F6F6F6
    border-radius: 25px
    display: grid
    grid-template-columns: 1fr
    gap: clamp(20px, 5vw, 50px)
    @media (min-width:768px)
      padding: clamp(20px, 5vw, 50px)
      grid-template-columns: repeat(3, 1fr)

    figure.card
      height: clamp(255px, 30vw, 340px)
      border-radius: 10px
      background-size: cover
      display: flex

      figcaption
        margin: 20px
        font-size: 18px
        line-height: 25.67px
        font-weight: 700
        color: white
        align-self: flex-end

    a
      text-decoration: none

footer
  width: 100%
  height: 209px
  padding: 66px 0 58px
  background-color: black
  color: white
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  @media (min-width: 768px)
    padding: 66px 0 29px

  p
    width: 30%
    text-align: center
    font-size: clamp(12px, 3vw, 24px)
    @media (min-width: 768px)
      width: 100%
